@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-color: #000;
	background-image: url(../media/images/header_bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	color:#fff;
	font-family: verdana,helvetica,arial,sans-serif; 
}
#container{
	width:980px;
	margin:0 auto;
}
#header{
	float:left;
	position:fixed;
	width:980px;
	height:84px;
	background-image: url(../media/images/header_bg.png);
	background-position: center top;
	z-index:10;
}

#headerAbout{
	float:left;
	position:fixed;
	width:980px;
	height:69px;
	background-image: url(../media/images/header_about.jpg);
	background-position: center top;
	z-index:10;
}

#mainMenu{
	float:right;
	position:relative;
	width:550px;
	height:26px;
	margin-top:40px;
	line-height:30px;
	text-align:right;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 15px;
}
#mainMenu .holder{
	float: right;
}

#mainMenu .mainmenu-anchor{
	color:#FFF;
	text-decoration:none;
	margin-left:65px;
}

#mainMenu a.mainmenu-anchor:hover{
	text-decoration:underline;
}

#projectsMenu
{
	background-image:url(../media/images/ProjectHover.png);	
	width: 120px;
	height : 515px;
	position: absolute;
	display:none;
	left: 200px;
	z-index: 5;
}

#projectsMenu ul{
	width:100px;
	list-style:none;
	margin:0;
	padding:0;
	color: white;
}

#projectsMenu a { 
	color: white;
	text-decoration:none;	
}

#projectsMenu a:hover {
	text-decoration:underline;	
}



#body{
	float:left;
	position:relative;
	width:480px;
	margin-top:80px;
}

/* ABOUT POCETAK */
#aboutFull{
	float:left;
	position:relative;
	width:980px;
	height:auto;
}
#aboutImg{
	float:left;
	position:relative;
	width:900px;
	margin:10px 40px 0 40px;
	height:271px;
}
#aboutTxt{
	float:left;
	position:relative;
	width:980px;
	height:auto;
	color:#d1d1d1;
	line-height:17px;
	font-size:14px;
	margin-top:15px;
}
/* ABOUT KRAJ */
/* CONTACT POCETAK */
#contactFull{
	float:left;
	position:relative;
	width:980px;
	height:auto;
}
#contactTxt{
	font-size:14px;
	float:left;
	position:relative;
	width:940px;
	height:auto;
	margin:30px 0 0 40px;
}
#contactTxt a{
	color:#FFF;
	text-decoration:none;
}
#socialPannerl{
	float:left;
	position:relative;
	width:910px;
	height:125px;
	margin:10px 35px;
}
#socialTitle{
	float:center;
	position:relative;
	width:910px;
	height:20px;
	text-align:center;
	font-size:14px;
	line-height:20px;
	margin:5px 0 10px 0;
}
.socialItem{
	float:left;
	position:relative;
	width:90px;
	height:90px;
	margin:0px 20px;
	text-align:center;
	font-size:12px;	
}
.socialItem a{
	color:#FFF;
	text-decoration:none;
}
#contactForm{
	float:left;
	position:relative;
	width:500px;
	height:auto;
	margin:10px 230px;
}
#contactItem{
	float:left;
	position:relative;
	width:500px;
	height:auto;
	margin:10px 0;
        font-size:14px;
}
#contactBtn{
	float:left;
	position:relative;
	width:500px;
	height:auto;
	margin:10px 0;
	text-align:center;
}
#contactItem input{
	float:left;
	position:relative;
	width:478px;
	height:25px;
	outline:none;
	border:1px solid #FFF;
	background-color:transparent;
	color:#FFF;
	padding:0 10px;
}
#contactItem textarea{
	float:left;
	position:relative;
	width:478px;
	height:180px;
	outline:none;
	border:1px solid #FFF;
	background-color:transparent;
	color:#FFF;
	padding:10px;
	resize:none;
	font-family: verdana,helvetica,arial,sans-serif;
}
#contactBtn input{
	padding:3px 20px;
	background-color:#000;
	color:#FFF;
	border:solid 1px #fff;
}
#contactBtn input:hover{
	cursor:pointer;
	padding:3px 20px;
	background-color:#fff;
	color:#000;
	border:solid 1px #fff;
}
/* CONTACT KRAJ */
/* PROJECTS POCETAK */
#projectsFull{
	float:left;
	position:relative;
	width:980px;
	height:auto;
}
#projectsCenter{
	float:left;
	position:relative;
	width:980px;
	height:auto;
}
#projectsCenterImg{
	float:left;
	position:relative;
	width:980px;
	height:auto;
	margin:10px 0;

}
#projectsCenterImg a:hover{
cursor: url(http://darko-nikolic.com/media/images/zoom-in.png), auto;

}
#projectsCenterTxt{
	float:left;
	position:relative;
	width:960px;
	height:auto;
	margin:15px 15px;
	font-size:14px;
	color:#fff;

}
#projectsCenterTxt a:hover{
	color:#fff;
        text-decoration:underline;

}
#projectsCenterImg02{
	float:left;
	position:relative;
	width:980px;
	height:auto;
	padding:10px 0;
	background-color:#FFF;

}
#projectsCenterImg02 a:hover{
cursor: url(http://darko-nikolic.com/media/images/zoom-in.png), auto;

}
#projectsCenterTxt02{
	float:left;
	position:relative;
	width:950px;
	height:auto;
	padding:15px 15px;
	font-size:14px;
	color:#000;
	background-color:#FFF;
}
/* PROJECTS KRAJ */
#footer{
	float: left;
	position: relative;
	width: 980px;
	height: 30px;
	padding-top:10px;
	margin-top: 10px;
	text-align: center;
	font-size:11px;
	color:#fff;
}
#projectsRightMenu .black{
	display:none;
}
#indexFull{
	float:left;
	position:relative;
	width:976px;
	height:auto;
	margin:0px 2px;
	opacity: 0;
}
.bannerItem{
	float:left;
	position:relative;
	width:244px;
	height:188px;
}
.bannerItem a{
	float:left;
	position:absolute;
	width:244px;
	height:188px;
	top:0;
	left:0;
	opacity:0;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}
.bannerItem a:hover{
	opacity:1;
}
#bannerItemImg{
	float:left;
	position:absolute;
	width:244px;
	height:188px;
	top:0;
	left:0;
	z-index:-5;
}

.bannerItemImg{
	float:left;
	position:absolute;
	width:244px;
	height:188px;
	top:0;
	left:0;
	z-index:-5;
}

#projectsCenterTxt a{
	color:#fff;
	text-decoration:none;
}

.socialItem a img.a{
	position: absolute;
	left: 0;
	top: 0;
        z-index: 10;
	}
}

.socialItem a img.b{
	position: absolute;
	left: 0;
	top: 0;
        z-index: 10;
	}
}

.shareButtons{
	display: none;
	visibility: hidden;
	overflow: hidden;
	top:-100px;
	left:-100px;
	width:0px;
	height:0px;
	z-index:-10;
}

#loadingImg
{
	display:none; 
	position:fixed; 
	top:100px; 
	left:400px;
}

